@model FCmsManager.ViewModel.ContentDefinitionViewModel

<div>
    <h1>
        Repository
        @if (String.IsNullOrEmpty(Model.Name))
        {
            <i>New</i>
        }
        else
        {
            <text>@Model.Name</text>
        }
    </h1>

    <form method="post" action="/fcmsmanager/definition/save" id="folderconfigurator">
        @Html.AntiForgeryToken()
        <input type="hidden" name="RepositoryId" value="@Model.RepositoryId" />
        <input type="hidden" name="DefinitionId" value="@Model.DefinitionId" />
        <div>
            <div class="form-group">
                <label for="definisionNameInput">Name</label>
                <input type="text" name="Name" class="form-control" id="definisionNameInput" placeholder="name" value="@Model.Name" />
                <small class="form-text error">@Html.ValidationMessage("Name")</small>
            </div>

            <div class="form-group">
                <label for="definisionTypeInput">Type</label>
                @Html.DropDownListFor(model => model.ContentType, Model.ContentTypeList, htmlAttributes: new { @class = "form-control", data_object="filtertypedropdown" })
                <small class="form-text error">@Html.ValidationMessage("Name")</small>
            </div>

            <div class="form-group" data-object="folderdefinition" @if (Model.ContentType != FCmsManager.ViewModel.ContentDefinitionViewModel.FOLDER_CONTENT_TYPE) { <text>style = "display:none"</text> }>
                <input type="hidden" name="numbderoffvalues" id="numbderoffvalues" value="@Model.Children.Count" />
                <label for="">Folder Content</label>
                <div class="form-group foldervaluelist" data-object="values-list">
                    @foreach(var child in Model.Children)
                    {
                        await Html.RenderPartialAsync(child.Type + "value", child);
                    }
                </div>

                <did class="col-md-4"><a href="javascript:void(0)" data-object="addvalue" class="cmsbutton">Add value</a></did>
            </div>
        </div>
        <button class="cmsbutton">Save</button>
    </form>
</div>

@section Scripts {
    <script src="~/_content/FCmsManager/js/cms/FolderRepo.js"></script>
}

@section Breadcrump {
    <span><a href="/fcmsmanager/repository">Content</a>:
        @if (String.IsNullOrEmpty(Model.Name))
        {
            <i>New</i>
        }
        else
        {
            <text>@Model.Name</text>
        }
    </span>
}