@{ 
    Layout = null;
}
@model  FCmsManager.ViewModel.FilterValueViewModel

    <div class="cmsfiltervalue" data-index="@Model.Index">
        <input type="hidden" name="filterid@(Model.Index)" value="@Model.FilterDefinition.Id" />
        <input type="hidden" name="filtertype@(Model.Index)" value="@Model.FilterDefinition.Type" />

        <input type="text" name="filtervalue@(Model.Index)" class="form-control" placeholder="@Model.FilterDefinition.Name" value="@Model.ContentFilter.GetValue(0)" />
    </div>