@model FCmsManager.ViewModel.ContentListViewModel

<div>
    <h1>Values for: @Model.ContentDefinition.Name</h1>
    @foreach (ContentItem content in Model.Items)
    {
        <div class="cmsrepository">
            <div class="cmsright">
                <a href="/fcmsmanager/content/delete?repositoryid=@Model.RepositoryId&contentid=@content.Id">[ Delete ]</a>
            </div>
            <a href="/fcmsmanager/content/edit?repositoryid=@Model.RepositoryId&contentid=@content.Id">
                @if (content is ContentFolderItem)
                {
                    @((content as ContentFolderItem).Name)
                }
                else
                {
                    @content.GetValue()
                }
            </a>
            <hr/>
            <h4>Filters:</h4>
            <ul>
                @foreach (var filter in content.Filters)
                {
                    <li>
                        @filter.Filter.Name = @filter.GetValue(0) @if (filter.Values.Count > 1)
                        {<text> - </text>}
                        @filter.GetValue(1)
                    </li>
                }
            </ul>

        </div>
    }
    <hr />
    <a href="/fcmsmanager/content/add?repositoryid=@Model.RepositoryId&definitionid=@Model.DefinitionId" class="cmsbutton">Add</a>
</div>

@section Breadcrump {
    <span><a hhref="/fcmsmanager/repository">Repository</a>: <a href="/fcmsmanager/content?repositoryid=@Model.RepositoryId">@Model.RepositoryName</a></span>
}