@model FCmsManager.ViewModel.EditFilterViewModel

<div>
    <h1>
        Filter @if (String.IsNullOrEmpty(Model.Name)) { <i>New</i> } else { <text>@Model.Name</text> }
    </h1>

    <form method="post" action="/fcmsmanager/filter/save" id="filterconfigurator">
        @Html.AntiForgeryToken()
        <input type="hidden" name="Id" value="@Model.Id" />
        <input type="hidden" name="numbderoffilters" id="numbderoffilters" value="@Model.Values.Count" />
        <div>
            <div class="form-group">
                <label for="repositoryNameInput">Repository name</label>
                <input type="text" name="Name" class="form-control" id="repositoryNameInput" placeholder="name" value="@Model.Name" />
                <small class="form-text error">@Html.ValidationMessage("Name")</small>
            </div>
            <div class="form-group" data-object="valuetype" style="display:none">
                <label for="">Values</label>
                <div class="form-group" data-object="values-list">
                </div>

                <did class="col-md-4"><a href="javascript:void(0)" data-object="addvalue" class="cmsbutton">Add value</a></did>
            </div>
            <div class="form-group">
                <label for="definisionTypeInput">Type</label>
                @Html.DropDownListFor(model => model.Type, Model.TypeList, Model.Type, htmlAttributes: new { @class = "form-control", data_object = "filtertypedropdown" })
                <small class="form-text error">@Html.ValidationMessage("Name")</small>
            </div>
        </div>
        <button>Save</button>
    </form>
</div>


@section Scripts {
    <script src="~/_content/FCmsManager/js/cms/Filter.js"></script>
}

@section Breadcrump {
    <span><a href="/fcmsmanager/filter">Filters</a> : @if (String.IsNullOrEmpty(Model.Name)) { <text>New</text> } else { <text>@Model.Name</text> }</span>
}